.debug .row {
  height: 150px;
  background-color: lightgrey;
}



.debug [class*='col-'] {
  height: 100%;
  background-color: white;
  border: 1px solid red;
}

header {
  background-color: lightblue;
}

.navhide {
  display: none;
}

.jumbo {
  background-color: lightgreen;
  height: 500px;
  padding: 100px;
}

.loghi {
  background-color: lightgrey;
  padding: 100px;
}

.icon {
  background-color: lightgreen;
  padding: 100px;
  height: 700px;
}

.slider {
  background-color: lightgrey;
  padding: 100px;
}

/* da dare all img */

.slide::after ,
.slide::before {
  display: inline-block;
  content: 'freccia';
  vertical-align: middle;
}

.features {
  background-color: lightgreen;
  padding: 100px;
  height: 800px;
}

.service {
  background-color: lightgrey;
  padding: 100px;
  height: 1300px;
}

.getstarted {
  background-color: lightgreen;
  padding: 100px;
  height: 400px;
}

footer {
  background-color: lightgrey;
  padding: 100px;
  height: 700px;
}

.debug .row .row {
  height: 100%;
}



@media only screen and (min-width:991px) {
  .burger {
    display: none;
  }
}

@media only screen and (min-width:991px) {
  .navhide {
    display: block;
  }
}
